html,
body {
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 0;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.customArrow {
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  z-index: 2;
}

.slick-dots.slick-thumb li {
  transition: all 0.5s ease-in-out;
  will-change: width;
}
.slick-thumb li {
  height: 45px;
  width: 45px;
}

.slick-thumb {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.slider {
  padding: 1rem;
}

@font-face {
  font-family: "iranSans";
  src: local("ir_sans"), url(../public/fonts/ir_sans.ttf) format("ttf"),
    url(../public/fonts/ir_sans.woff2) format("woff2"),
    url(../public/fonts/ir_sans.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Vazir";
  src: url(../public/fonts/Vazir-FD.ttf);
}

@font-face {
  font-family: "VazirBlack";
  src: url(../public/fonts/Vazir-Black-FD.ttf);
}

@font-face {
  font-family: "VazirBold";
  src: url(../public/fonts/Vazir-Bold-FD.ttf);
}

@font-face {
  font-family: "VazirLight";
  src: url(../public/fonts/Vazir-Light-FD.ttf);
}

@font-face {
  font-family: "VazirMedium";
  src: url(../public/fonts/Vazir-Medium-FD.ttf);
}

@font-face {
  font-family: "VazirThin";
  src: url(../public/fonts/Vazir-Thin-FD.ttf);
}

.wrap {
  text-align: center;
  margin: 15px 2px;
  height: 40px;
  position: relative;
}

.wrap:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid #bdbdbd;
  background: #bdbdbd;
  width: 100%;
  transform: translateY(-50%);
}

.glass {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(104, 98, 98, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.glass2 {
  background: rgba(70, 64, 64, 0.5);
  box-shadow: 0 8px 32px 0 rgba(104, 98, 98, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

::-webkit-scrollbar {
  height: auto;
  width: 10px;
  background-color: rgb(32, 32, 32);
}

::-webkit-scrollbar-thumb {
  width: 10px;
  height: 10px;
  background-color: rgb(216, 201, 191);
  border-radius: 10px;
}
